@model IEnumerable<Angle.Models.paciente>

<h2>Listado de Pacientes</h2>

<p>
    @Html.ActionLink("Crear nuevo paciente", "Create", "Paciente")
</p>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("DNI")
                </th>
                <th>
                    @Html.DisplayName("Número Historial")
                </th>
                <th>
                    @Html.DisplayName("Antecedentes")
                </th>
                <th>
                    @Html.DisplayName("Primera Visita")
                </th>
                <th>
                    @Html.DisplayName("Diagnóstico y Tratamiento")
                </th>
                <th>
                    @Html.DisplayName("Consultas")
                </th>
                <th>
                    @Html.DisplayName("Editar Datos Personales")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.persona.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.persona.dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.historialClinico.numeroHistorialClinico)
                </td>
                <td>
                    <a href="@Url.Action("Create", "Antecedentes", new { idpaciente = item.idPaciente})">Añadir</a>
                    <a href="@Url.Action("Edit", "Antecedentes", new { idpaciente = item.idPaciente})">Editar</a>

                </td>
                <td>
                    <a href="@Url.Action("Edit", "PrimeraVisita", new { idvisita = item.primeraVisita.FirstOrDefault().idPrimeraVisita})">Editar</a>

                </td>
                <td>

                    <a href="@Url.Action("Create", "DiagnosticoTratamiento", new { idpaciente = item.idPaciente})">Añadir</a>
                    @*<a href="@Url.Action("Edit", "DiagnosticoTratamiento", new { iddiagnostico = item.primeraVisita.FirstOrDefault().diagnostico.FirstOrDefault().idDiagnostico})">Editar</a>*@

                </td>
                <td>
                    <a href="@Url.Action("Create", "Consulta", new { idpaciente = item.idPaciente})">Añadir</a>
                    <a href="@Url.Action("Edit", "Consulta", new { idpaciente = item.idPaciente})">Editar</a>
                    <a href="@Url.Action("Index", "ListaConsultas", new { idpaciente = item.idPaciente})">Consultas</a>

                </td>
                <td>
                    <a href="@Url.Action("Edit", "Paciente", new { idpaciente = item.idPaciente})">Editar</a>

                </td>
            </tr>
            }
        </table>
    </div>
</div>


