@model IEnumerable<Angle.Models.paciente>

<h2>Listado de Pacientes</h2>

<p>
    @Html.ActionLink("Crear nuevo paciente", "Create", "Paciente")
</p>

<div class="panel panel-default">
    <div class="panel-body">
        <table id="datatable1" class="table table-striped table-hover" style="text-align: center";>
            <tr >
                <th style="text-align:center">
                    @Html.Label("Nombre")
                </th>
                <th style="text-align:center">
                    @Html.Label("DNI")
                </th>
                <th style="text-align:center">
                    @Html.Label("Número Historial")
                </th>
                <th style="text-align:center">
                    @Html.Label("Antecedentes")
                </th>
                <th style="text-align:center">
                    @Html.Label("Primera Visita")
                </th>
                <th style="text-align:center">
                    @Html.DisplayName("Diagnóstico y Tratamiento")
                </th>
                <th style="text-align:center">
                    @Html.DisplayName("Consultas")
                </th>
                <th style="text-align:center">
                    @Html.DisplayName("Editar Datos Personales")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.persona.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.persona.dni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.historialClinico.numeroHistorialClinico)
                    </td>
                    <td>
                        @if (item.persona.paciente.FirstOrDefault().historialClinico.id_ant_familiares == null)

                        {
                            <a href="@Url.Action("Create", "Antecedentes", new { idpaciente = item.idPaciente })">Añadir</a>
                        }
                        @if (item.persona.paciente.FirstOrDefault().historialClinico.id_ant_familiares != null)

                        {
                            <a href="@Url.Action("Edit", "Antecedentes", new { idpaciente = item.idPaciente })">Editar</a>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "PrimeraVisita", new { idvisita = item.primeraVisita.FirstOrDefault().idPrimeraVisita})">Editar</a>

                    </td>
                    <td>
                        @if (item.primeraVisita.FirstOrDefault().diagnostico.FirstOrDefault() == null)
                        {
                            <a href="@Url.Action("Create", "DiagnosticoTratamiento", new { idpaciente = item.idPaciente })">Añadir</a>
                        }
                        @if (item.primeraVisita.FirstOrDefault().diagnostico.FirstOrDefault() != null)
                        {

                            <a href="@Url.Action("Edit", "DiagnosticoTratamiento", new { iddiagnostico = item.primeraVisita.FirstOrDefault().diagnostico.FirstOrDefault().idDiagnostico})">Editar</a>
                        }

                    </td>
                    <td>
                        <a href="@Url.Action("Create", "Consulta", new { idpaciente = item.idPaciente})">Añadir</a>
                        <br />
                        <a href="@Url.Action("Index", "ListaConsultas", new { idpaciente = item.idPaciente})">Consultas</a>

                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Paciente", new { idpaciente = item.idPaciente})">Editar</a>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>
