@model Angle.Models.FormAntecedentes

@{
    ViewBag.Title = "Create";
}

<h3>Añadir Antecedentes</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.IdPaciente)

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <h4>Antecedentes Patológicos</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.PatologiaPrevia, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.PatologiaPrevia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PatologiaPrevia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.EnfermedadInfantil, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.EnfermedadInfantil, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EnfermedadInfantil, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.AntecedentesTraumaticos, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.AntecedentesTraumaticos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AntecedentesTraumaticos, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Bursitis, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Bursitis)
                                    @Html.ValidationMessageFor(model => model.Bursitis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.Capsulitis, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Capsulitis)
                                    @Html.ValidationMessageFor(model => model.Capsulitis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Ciatica, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Ciatica)
                                    @Html.ValidationMessageFor(model => model.Ciatica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.Capsulitis, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Capsulitis)
                                    @Html.ValidationMessageFor(model => model.Capsulitis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Distension, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Distension)
                                    @Html.ValidationMessageFor(model => model.Distension, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.Esguince, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Esguince)
                                    @Html.ValidationMessageFor(model => model.Esguince, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tendinitis, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Tendinitis)
                                    @Html.ValidationMessageFor(model => model.Tendinitis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.Contracturas, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Contracturas)
                                    @Html.ValidationMessageFor(model => model.Contracturas, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Luxacion, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Luxacion)
                                    @Html.ValidationMessageFor(model => model.Luxacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.Subluxacion, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Subluxacion)
                                    @Html.ValidationMessageFor(model => model.Subluxacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fisura, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Fisura)
                                    @Html.ValidationMessageFor(model => model.Fisura, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.Fractura, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Fractura)
                                    @Html.ValidationMessageFor(model => model.Fractura, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.EnfermedadReumatica, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.EnfermedadReumatica)
                                    @Html.ValidationMessageFor(model => model.EnfermedadReumatica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.TipoEnfermedadReumatica, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-4 text-left">
                                @Html.EditorFor(model => model.TipoEnfermedadReumatica, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TipoEnfermedadReumatica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.OtrosPatologico, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.OtrosPatologico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtrosPatologico, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <h4>Antecedentes Podológicos</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.HaIdoPodologo, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.HaIdoPodologo)
                                    @Html.ValidationMessageFor(model => model.HaIdoPodologo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.Antecedentes, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.Antecedentes, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Antecedentes, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <h4>Antecedentes Fisiologicos</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Andador, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Andador)
                                    @Html.ValidationMessageFor(model => model.Andador, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.Tacata, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Tacata)
                                    @Html.ValidationMessageFor(model => model.Tacata, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.InicioDeambulacion, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.InicioDeambulacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InicioDeambulacion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.HabitosPosturales, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.HabitosPosturales, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HabitosPosturales, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CambiosPonderales, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.CambiosPonderales, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CambiosPonderales, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Zurdo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Zurdo)
                                    @Html.ValidationMessageFor(model => model.Zurdo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.Diestro, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Diestro)
                                    @Html.ValidationMessageFor(model => model.Diestro, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.Ambidiestro, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-1">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Ambidiestro)
                                    @Html.ValidationMessageFor(model => model.Ambidiestro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-left">
                                @Html.LabelFor(model => model.OtrosFisiologico, htmlAttributes: new { @class = "control-label col-md-4" })
                            </div>
                            <div class="col-md-9 text-left">
                                @Html.EditorFor(model => model.OtrosFisiologico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtrosFisiologico, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PartoCabeza, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.PartoCabeza)
                                    @Html.ValidationMessageFor(model => model.PartoCabeza, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.PartoNalgas, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.PartoNalgas)
                                    @Html.ValidationMessageFor(model => model.PartoNalgas, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <h4>Antecedentes Familiares</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Dismetrias, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Dismetrias)
                                    @Html.ValidationMessageFor(model => model.Dismetrias, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.Escoliosis, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Escoliosis)
                                    @Html.ValidationMessageFor(model => model.Escoliosis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PiesPlanos, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.PiesPlanos)
                                    @Html.ValidationMessageFor(model => model.PiesPlanos, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.PiesCavos, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.PiesCavos)
                                    @Html.ValidationMessageFor(model => model.PiesCavos, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.PiesValgos, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.PiesValgos)
                                    @Html.ValidationMessageFor(model => model.PiesValgos, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.PiesZambos, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.PiesZambos)
                                    @Html.ValidationMessageFor(model => model.PiesZambos, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.HallusValgus, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.HallusValgus)
                                    @Html.ValidationMessageFor(model => model.HallusValgus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.DedosGarra, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.DedosGarra)
                                    @Html.ValidationMessageFor(model => model.DedosGarra, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GenuVaro, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.GenuVaro)
                                    @Html.ValidationMessageFor(model => model.GenuVaro, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.GenuValgo, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.GenuValgo)
                                    @Html.ValidationMessageFor(model => model.GenuValgo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MetaAductus, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.MetaAductus)
                                    @Html.ValidationMessageFor(model => model.MetaAductus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.MetaVarus, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.MetaVarus)
                                    @Html.ValidationMessageFor(model => model.MetaVarus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TibiasVaras, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.TibiasVaras)
                                    @Html.ValidationMessageFor(model => model.TibiasVaras, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OtrosFamiliares, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OtrosFamiliares, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtrosFamiliares, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-offset-5 col-md-10">
            <input type="submit" value="Añadir" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


