@model Angle.Models.paciente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.medicacionHabitual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicacionHabitual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroHistoriaClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroHistoriaClinica)
        </dd>

       
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPaciente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
