@model IEnumerable<Angle.Models.consulta>

@{
    ViewBag.Title = "Index";
}

<h3>Consultas</h3>


<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
          
            <tr>
                <th>
                    @Html.DisplayName("Fecha Consulta")
                </th>
                <th>
                    @Html.DisplayName("Observaciones")
                </th>
                
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                var res = item.fecha.Value.ToString("dd-MM-yyyy");

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => res)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
               
                <td>
                    <a href="@Url.Action("Edit", "Consulta", new { idpaciente = item.paciente.idPaciente})">Editar Consulta</a>
                </td>
            </tr>

            }



        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Volver atrás", "Index", "ListaPacientes")
</div>
